.home-container{
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    overflow:hidden;
    justify-content: center;
    gap: 1rem;
    font-family: "Antonio", sans-serif;
    color: #fff;
}